# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# The configuration file with sensitive information
config.toml

# File based database used for storing information
db.sqlite

# Executable
hyliota